<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 profile-view">
                <div class="col-md-12">
                    <div class="col-md-1 col-sm-1 col-xs-1">
                    	<a href="#/dashboard" class="btn btn-default profile-back-button"><span class="fa fa-long-arrow-left"></span></a>
                    </div>
                    <div class="col-sm-9"> <h3>User List</h3></div>
                    <div class="col-sm-2 ">
                    	<a  ng-click="logout_user();" class="pull-right"> logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div>
                    <div class="loader_angular" ng-show="show_loader"></div>
                    <div class="row" style="margin-top:10px;margin-bottom:10px">
                        <div class="col-sm-3">

                             <button type="button" class="btn btn-primary">Add New User</button>
                        </div>
                        <div class="col-sm-9">
                            <form class="form-inline pull-right">
                                <div class="form-group">
                                    <label >Search</label>
                                    <input type="text" ng-model="search" class="form-control" placeholder="Search">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row btn-primary">
                        <div class="col-md-1 col-sm-1">
                            <div class="row">
                                <h5>&nbsp;Sl no.</h5>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <div class="row">
                                <h5>User Name</h5>
                            </div>
                        </div>
                        
                        <div class="col-md-2 col-sm-2">
                            <div class="row">
                                <h5>User Role</h5>
                            </div>
                        </div>
                        
                        <div class="col-md-2 col-sm-2">
                            <div class="row">
                                <h5>Active Status</h5>
                            </div>
                        </div>
                         <div class="col-md-2 col-sm-2">
                            <div class="row">
                                <h5>Last login</h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                        </div>
                    </div>
                    <div class="row" dir-paginate="user in user_list | orderBy : 'name' | itemsPerPage: selected_search_type_per_page | filter:search">
                        <div class="col-md-1 col-sm-1">
                            {{$index+1}}
                        </div>
                        
                        <div class="col-md-2 col-sm-2" ng-bind="user.userName"></div>
                        <div class="col-md-2 col-sm-2" ng-bind="user.userRole"></div>
                        <div class="col-md-2 col-sm-2" ng-bind="user.UserActiveStatus"></div>
                        <div class="col-md-2 col-sm-2" ng-bind="user.userLastLogin | date : 'medium'"></div>
                        <div class="col-md-3 col-sm-3 text-right" style="float:right">
                            <button type="button" class="btn btn-success" style=" padding: 6px 30px ; margin-bottom: 9px !important; margin-top: 5px ;">Edit</button>
                            <button type="button" class="btn btn-danger" style=" padding: 6px 30px ; margin-bottom: 9px !important; margin-top: 5px ;">Delete</button>
                        </div>
                    </div>
                    <div class="table-striped" style="margin-top:10px;">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>
                                    Show 
                                    <select ng-model="selected_search_type_per_page" 
                                        ng-options="search.value as search.name for search in page_per_pagination" 
                                        ng-init="selected_search_type_per_page=selected_page_pagination" style="height:30px">
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-6 text-right">
                                <div class="text-center">
                                    <dir-pagination-controls 
                                    boundary-links="true" 
                                    max-size="3" 
                                    direction-links="true">
                                    </dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
.loader_angular {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 27px;
    z-index: 99;
    background: url("img/loader.gif") center no-repeat;
    background-size: 70%;
}
</style>