
<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 profile-view">
                <div class="col-md-12">
                    <div class="col-md-1 col-sm-1 col-xs-1">
                        
                    <a href="#/dashboard" class="btn btn-default profile-back-button"><span class="fa fa-long-arrow-left"></span></a>
                    </div>
                     <div class="col-md-3">
                        <h3 class="customer-profile-view">Member Segment View</h3>
                        <h4 class="customer-profile-view hidden-lg hidden-md hidden-sm hidden-xs">Member Segment View</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top:20px;">
	<div class="row">
		<div class="col-sm-2" style="padding-right: 8px;">
			<div class="panel panel-default">
				<div class="panel-heading">FILTERS</div>
				<div class="panel-body">

					<div class="col-sm-12">
	                   	<button class="btn btn-primary get-map-btn" ng-click="getCustomerSegmentDetails();">View details</button>
	                </div>
					<div class="rows" ng-show="checkboxModel.age_grouped">
						<div class="col-sm-12">
							<strong> Aged Group : </strong>
						</div>
						<div class="col-sm-12">
							<select chosen multiple ng-model="age_group_filter" ng-options="s.value for s in age_group_type"  placeholder-expression="City Name">
							</select>
						</div>

						<div class="col-sm-12">
							 <a class=" pull-right pointer-class"> &nbsp;</a>
						</div>
					</div>
					<div class="rows padding-row" ng-show="checkboxModel.card_type">
						<div class="col-sm-12 padding-row">
							<strong> Card Type : </strong>
						</div>
						<div class="col-sm-12">
							<select chosen multiple ng-model="card_type_filter_details" ng-options="s.card_type for s in card_type"  placeholder-expression="Card Type" title="Enter card details">
                            </select>
						</div>
						<div class="col-sm-12">
							 <a class=" pull-right pointer-class"> &nbsp;</a>
						</div>
					</div>
					
					<div class="rows padding-row" ng-show="checkboxModel.gender">
						<div class="col-sm-12 padding-row">
							<strong> Gender : </strong>
						</div>
						<div class="col-sm-12">
							<select chosen multiple ng-model="gender_type_filter" ng-options="s.name for s in gender_type"  placeholder-expression="Gender" title="Gender">
                            </select>
						</div>

						<div class="col-sm-12">
							 <a class=" pull-right pointer-class"> &nbsp;</a>
						</div>
					</div>
					<div class="rows padding-row"  ng-show="checkboxModel.location">
						<div class="col-sm-12">
							<strong> Location : </strong>
						</div>
						<div class="col-sm-12">
							<select chosen multiple ng-model="location_filter" ng-options="s.cust_location for s in location_name"  placeholder-expression="City Name">
							</select>
						</div>

						<div class="col-sm-12">
							 <a class=" pull-right pointer-class"> &nbsp;</a>
						</div>
					</div>
					<div class="rows" ng-show="checkboxModel.segment">
						<div class="col-sm-12">
							<strong> Segment : </strong>
						</div>
						<div class="col-sm-12">
							<select chosen multiple ng-model="segment_filter" ng-options="s.cust_segment for s in segment_type"  placeholder-expression="Segment Name" id="segment_details">
							</select>
						</div>

						<div class="col-sm-12">
							 <a class=" pull-right pointer-class"> &nbsp;</a>
						</div>
					</div>
					<div class="rows padding-row" ng-show="checkboxModel.tag_details">
						<div class="col-sm-12 padding-row">
							<strong> Tags : </strong>
						</div>
						<div class="col-sm-12">
							<select chosen multiple ng-model="tag_details_filter" ng-options="s.name for s in tag_type"  placeholder-expression="Gender" title="Gender">
                            </select>
						</div>

						<div class="col-sm-12">
							 <a class=" pull-right pointer-class"> &nbsp;</a>
						</div>
					</div>
					<div class="rows" ng-show="checkboxModel.date_range">
						<div class="col-sm-12">
							<strong> Date Range : </strong>
						</div>
                        <div class="col-sm-12 date-box-one">
							 <datepicker date-format="MM-dd-yyyy" selector="form-control">
		                        <div class="input-group">
		                            <input class="form-control" placeholder="Start Date" ng-model="start_date">
		                        </div>
		                    </datepicker>
                        </div>
                        <div class="col-sm-12">
                            <datepicker date-format="MM-dd-yyyy" selector="form-control">
		                        <div class="input-group">
		                             <input class="form-control" placeholder="End Date" ng-model="end_date"/>
		                        </div>
		                    </datepicker>
						</div>
						<div class="col-sm-12">
							 <a class="pull-right pointer-class" style="cursor:pointer"> &nbsp;</a>
						</div>
					</div>
                  
				</div>
			</div>
		</div>
		<div class="col-sm-10" style="padding-left: 5px;">

			<div class="row">
				<div class="col-sm-6">
					<div class="col-sm-12">
						<strong> X-AXIS </strong>
					</div>
					<div class="col-sm-12">
						<label>
				    		<input type="radio" ng-model="checkboxModel.x_axis" value="age_grouped" ng-click="changeChecboxStatus('age_grouped','x_axis')" id="x_axis_age_group">&nbsp;Age group&nbsp;
				  		</label>
						<label>
							<input type="radio" ng-model="checkboxModel.x_axis" value="card_type" ng-click="changeChecboxStatus('card_type','x_axis')" id="x_axis_card_type">&nbsp;Card type&nbsp;
				  		</label>
				  		<label>
				  			<input type="radio" ng-model="checkboxModel.x_axis" value="gender" ng-click="changeChecboxStatus('gender','x_axis')"  id="x_axis_gender">&nbsp;Gender&nbsp;
				  		</label>
				  		<label>
				  			<input type="radio" ng-model="checkboxModel.x_axis" value="location" ng-click="changeChecboxStatus('location','x_axis')" id="x_axis_location">&nbsp;Location&nbsp;
				  		</label>
				  		<label>
				    		<input type="radio" ng-model="checkboxModel.x_axis" value="segment" ng-click="changeChecboxStatus('segment','x_axis')"  id="x_axis_segment">&nbsp;Segment&nbsp;
				  		</label>
				  		<label>
				    		<input type="radio" ng-model="checkboxModel.x_axis" value="tags" ng-click="changeChecboxStatus('tags','x_axis')" id="x_axis_tags">&nbsp;Tags&nbsp;
				  		</label>
				  		
				  	</div>
				</div>
				<div class="col-sm-6">
					<div class="col-sm-12">
						<strong> Y-AXIS </strong>
					</div>
					<div class="col-sm-12">
						<label>
				    		<input type="radio" ng-model="checkboxModel.y_axis" value="age_grouped" ng-click="changeChecboxStatus('age_grouped','y_axis')" id="y_axis_age_group">&nbsp;Age group&nbsp;
				  		</label>
						<label>
							<input type="radio" ng-model="checkboxModel.y_axis" value="card_type" ng-click="changeChecboxStatus('card_type','y_axis')" id="y_axis_card_type">&nbsp;Card type&nbsp;
				  		</label>
				  		<label>
				  			<input type="radio" ng-model="checkboxModel.y_axis" value="gender" ng-click="changeChecboxStatus('gender','y_axis')"  id="y_axis_gender">&nbsp;Gender&nbsp;
				  		</label>
				  		<label>
				  			<input type="radio" ng-model="checkboxModel.y_axis" value="location" ng-click="changeChecboxStatus('location','y_axis')" id="y_axis_location">&nbsp;Location&nbsp;
				  		</label>
				  		<label>
				    		<input type="radio" ng-model="checkboxModel.y_axis" value="segment" ng-click="changeChecboxStatus('segment','y_axis')"  id="y_axis_segment">&nbsp;Segment&nbsp;
				  		</label>
				  		<label>
				    		<input type="radio" ng-model="checkboxModel.y_axis" value="tags" ng-click="changeChecboxStatus('tags','y_axis')" id="y_axis_tags">&nbsp;Tags&nbsp;
				  		</label>
				  		
				  	</div>
				</div>
			</div>
			<div class="loader_angular" ng-show="show_loader"></div>
			<div id="container" style="min-width: 310px; height: 450px; margin: 0 auto"></div>
		</div>
	</div>
<input type="radio"  id="x_axis_category" style="display:none">
<input type="radio" id="y_axis_category" style="display:none">
</div>
<style>
.loader_angular {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 32px;
    height: 27px;
    z-index: 99;
    background: url("img/loader.gif") center no-repeat;
    background-size: 70%;
}
.highcharts-credits
{
  display: none !important
}
.highcharts-legend
{
  display: none !important
}
</style>