<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-1 col-sm-1 col-xs-1">
                    <a href="#/dashboard" class="btn btn-default profile-back-button"><span class="fa fa-long-arrow-left"></span></a>
                </div>
                 <div class="col-sm-5">
                   <h4 class="customer-profile-view">  <a href="#/dashboard">Home </a> >&nbsp;&nbsp;&nbsp;Member Profile View</h4>
                        <h5 class="customer-profile-view hidden-lg hidden-md hidden-sm hidden-xs"> <a href="#/dashboard">Home </a> >&nbsp;&nbsp;&nbsp;Member Profile View</h5>
                         <div class="loader_angular col-md-1 profile-view-load" ng-show="showCustomerLoader"></div>
                </div>
                <div class="col-sm-4">
                    <img class="img-responsive" style="float:left;" src="img/logo.png" alt="">
                </div>

                <div class="col-sm-2 pull-right">
                    <a style="float:left;margin:10px 0 0 40px; cursor:pointer;" class="main-logtout" ng-click="logout_user();" > logout</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 profile-view">
                <div class="col-md-12">
                    <div class="col-md-1 col-sm-1 col-xs-1">
                        
                       
                    </div>
                        <form>
                            <div class="row form-box-row">
                                 <div class="col-md-2">
                                    
                                </div>
                                 <div class="col-md-3 col-md-offset-0 user-wechat">
                                    <label>
                                        <input type="radio" name="search_type" value="customer_id" checked="checked" ng-model="search_by" > Wechat Id&nbsp;
                                        <input type="radio" value="card_no" name="search_type" ng-model="search_by"> Card#  
                                    </label>
                                </div>
                                 <div class="col-md-3 col-md-offset-0 user-wechat" ng-if="search_by == 'customer_id'">
                                    <input type="text" class="form-control" ng-model="wechat_id" id="wechat_id" placeholder="Enter Member WeChat Id.">
                                    <p class="err" ng-bind="error_message"></p>
                                </div>
                                <div class="col-md-3 col-md-offset-0 user-wechat" ng-if="search_by == 'card_no'">
                                    <input type="text" class="form-control" ng-model="card_no" id="card_no" placeholder="Enter Card Number.">
                                    <p class="err" ng-bind="error_message"></p>
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-primary btn-block submit-btn" ng-click="showCustomerDetail()">Search Member</button>
                                </div>
                            </div>  
                        </form>
                       
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
           <div class="row profile-user">
                <div class="col-md-3"> 
                    <a href="#">
                        <img class="media-object" src="img/profile.jpg" alt="..." width="60" height="60">
                    </a>
                    <h4 class="media-heading profile">{{customer_details.memberFirstName}} {{customer_details.memberLastName}}</h4>
                    {{customer_details.memberGender}} {{customer_details.memberAge | number:0}}
                </div>
                <div class="col-md-9">
                     <table class="table table-responsive">
                        <tbody>
                            <tr>
                                <th>Wechat Id :</th>
                                <td ng-bind="customer_details.memberWechatId"></td>
                            </tr>
                            <tr>
                                <th>Card Type :</th>
                                <td ng-bind="customer_details.MTRCardType"></td>
                            </tr>
                            <tr>
                                <th>Points :</th>
                                <td ng-bind="customer_details.MTRPoints"></td>
                            </tr>
                            <tr>
                                <th>Occupation :</th>
                                <td ng-bind="customer_details.memberOccupation"></td>
                            </tr>
                            <tr>
                                <th>Hobbies :</th>
                                <td ng-bind="customer_details.memberHobby"></td>
                            </tr>
                            <tr>
                                <th>Segment :</th>
                                <td ng-bind="customer_details.memberSegment"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 cust-tag">
                    <div class="page-header"></div>
                    <h3 class="details-tag">
                        Tags
                    </h3>
                    <div class="col-md-12 col-md-12 tag-box">
                        <div class="tag-holder">
                            <span ng-repeat="tag in customer_tag">
                                <span class="tag-style">
                                    {{$index+1}}. {{tag.tagDesc}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- user detail ends -->
        </div>
        <!-- left panel ends -->
        <div class="col-md-4">
            <div class="row progress-campaign">
                <h3 class="action-status">
                    Offer campaign action status
                </h3>
                <div class="col-md-12 offer-progress">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Offer campaign Sent:   {{customer_details.sent}}
                        </li>
                        <li class="list-group-item">Offer campaign Clicked
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="{{(customer_details.click/customer_details.sent)*100 | number : 0}}" aria-valuemin="0" aria-valuemax="100" style="width:{{(customer_details.click/customer_details.sent)*100 | number : 0}}%">

                                {{customer_details.click}} <span class="addon"> {{(customer_details.click/customer_details.sent)*100 | number : 0}}%</span>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">Offer campaign used
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{(customer_details.used/customer_details.sent)*100 | number : 0}}" aria-valuemin="0" aria-valuemax="100" style="width:{{(customer_details.used/customer_details.sent)*100 | number : 0}}%">
                                    {{customer_details.used}}<span class="addon-2">{{(customer_details.used/customer_details.sent)*100 | number : 0}}%</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row progress-campaign">
                 <div class="col-md-12 predicted-offers">
                        <h3 class="offers-heading">
                            Predicted Offers
                        </h3>
                        <ul class="nav list-group offers-list custom-bullet">
                            <li ng-repeat="p_offer in predicted_offer">
                                {{p_offer.offer_name}}
                            </li>
                            
                        </ul>
                    </div>
            </div>
            <div class="row offer-section-predict">
                <div class="col-md-12 predicted-offers">
                    <h3 class="offers-heading">
                        Offer history
                    </h3>
                    <table class="table table-bordered offer-history">
                        <thead>
                            <tr>
                            <th class="col-md-4">Merchant Name</th>
                            <th>Offer Description</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="history in offer_history">
                            <tr>
                            <td ng-bind="history.merchantName"></td>
                            <td ng-bind="history.offer_name_en"></td>
                            
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
        <!-- extreme right panel -->
         <div class="col-md-4">
             <div class="row section-map">   
                    <div class="col-md-12">    
                        <h3 class="map-he">
                            Places frequently visited
                        </h3>            
                        <div class="row map">
                            <div class="col-md-6" id = "sample" style = "width:95%; height:179px;">
                                <bing-map
                                    credentials="'AjZ0wB-x_wfUhjERvFMimAGIUbgHM7uRTKubZcmsbnE_-DSE49gBI53Ts9ClaeT5'"
                                    center="mapOptions.center"
                                    zoom="mapOptions.zoom"
                                    mapType="mapOptions.mapType"
                                    scrollwheel= false 
                                    disableZooming= true>
                                    
                                    <pushpin
                                        lat="pushpin.latitude"
                                        lng="pushpin.longitude"
                                        options="pushpin.options"
                                        events="pushpin.events">
                                    </pushpin>
                              
                                </bing-map>
                            </div>
                        </div>
                    </div>
                </div>
             
             <div class="overlay"></div>
              <div class="row match-user">
                    <div class="col-md-12"> 
                        <h3 class="header-connection">
                            Connections or Similarity matching
                        </h3>
                        <div class="media main-user">
                            <div class="media-left">
                                <a href="#">
                                    <img src="img/profile.jpg" width="70" height="70" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading main-user-info">{{customer_details.memberFirstName}} {{customer_details.memberLastName}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12"> 
                                <ul class="list-inline connection-list">
                                    <li>
                                        <figure class="connection-img">
                                            <img src="img/profile.jpg" width="50" height="50" alt="">
                                            <figcaption class="user-connections">
                                                XYZ
                                                <p class="connection-percent">
                                                    Similarity matching-65% 
                                                    <br>
                                                    xyz@tomlee.com
                                                </p>
                                               
                                            </figcaption>
                                        </figure>
                                    </li> 
                                    <li>
                                        <figure class="connection-img">
                                            <img src="img/profile.jpg" width="50" height="50" alt="">
                                            <figcaption class="user-connections">
                                                 XYZ
                                                <p class="connection-percent">
                                                    Similarity matching-45%
                                                     <br>
                                                    xyz@tomlee.com
                                                </p>

                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="connection-img">
                                            <img src="img/profile.jpg" width="50" height="50" alt="">
                                            <figcaption class="user-connections">
                                                 XYZ
                                                <p class="connection-percent">
                                                Similarity matching-65% 
                                                  <br>   
                                                xyz@tomlee.com
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="connection-img">
                                            <img src="img/profile.jpg" width="50" height="50" alt="">
                                            <figcaption class="user-connections">
                                                 XYZ
                                                <p class="connection-percent">
                                                    Similarity matching-65% 
                                                     <br>
                                                    xyz@tomlee.com
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </li> 
                                    <li>
                                        <figure class="connection-img">
                                            <img src="img/profile.jpg" width="50" height="50" alt="">
                                            <figcaption class="user-connections">
                                                 XYZ
                                                <p class="connection-percent">
                                                    Similarity matching-45% 
                                                     <br>
                                                    xyz@tomlee.com
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="connection-img">
                                            <img src="img/profile.jpg" width="50" height="50" alt="">
                                            <figcaption class="user-connections">
                                                 XYZ
                                                <p class="connection-percent">
                                                    Similarity matching-65% 
                                                     <br>
                                                    xyz@tomlee.com
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </li>                   
                                </ul>
                            </div>
                        </div>
                  </div>
             </div>
          
        </div>
        
        </div>
</div>


<style>
    body{
        overflow-x: hidden;
    }
.loader_angular {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 27px;
    z-index: 99;
    background: url("img/loader.gif") center no-repeat;
    background-size: 70%;
}
    
 .overlay{
  position:absolute; 
  top:260px;
  width: 610px;
  height:287px;
  z-index: 10;
  background-color: rgba(255,255,255,0.7); /*dim the background*/
}
</style>