
<div class="container">
	<div class="row main-window">
		<header class="page-header dashboard-head">
           
		<div class="logo-main ">
			<h2 class="dashboard-heading">MACHINA CRM |</h2>
            <img src="img/logo.png" class="hidden-xs logo-master-one">
            <img src="img/logo_mobile.png" class="hidden-lg hidden-md hidden-sm logo-master-two">
            <a class="main-logtout pull-right" ng-click="logout_user();" > logout</a>
		</div>
		</header>
		<div class="row">
            <div class="col-sm-12">
             <div class="col-sm-3" ng-if="user_role == 'admin'">
                <div class="customer-report">
              <a href="#/admin"  class=" btn chat-window member-report-btn"><span class="fa fa-cog dash-icon"></span>ADMIN SECTION</a>
			</div>
                </div>
            <div class="col-sm-3">
                <div class="customer-report">
				<a href="#/user" class=" btn chat-window disabled member-report-btn"><span class="fa fa-comments dash-icon"></span>CHAT WINDOW</a>
                </div>    
			</div>
                <div class="col-sm-3">
                    <div class="customer-report">
                        <div class="dropdown">
                            <a class="btn btn-default dropdown-toggle member-report-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="fa fa-bar-chart dash-icon"></span> MEMBER REPORT <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#/member_profile">Member Profile View</a></li>
                                <li><a href="#/member_segment">Member Segment View</a></li>
                                <li><a href="#/offer_segment">Offer Segment View</a></li>
                            </ul>
                        </div>
                    </div>
                 </div>
                <div class="col-sm-3">
                    <div class="customer-report">
                        <div class="dropdown">
                            <a class="btn btn-default dropdown-toggle member-report-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="fa fa-file-text-o dash-icon"></span>VIEW <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#/offer_display_view">Offer Display View</a></li>
                                <li><a href="#/merchant_display_view">Merchant Display View</a></li>
                            </ul>
                        </div>
                    </div>
                 </div>


        </div>
        </div>
	</div>
</div>   