<a class="main-logtout" ng-click="logout_user();"> logout</a>
<div class="container">
	<div class="row main-window">
		<header class="page-header">
		<div class="logo-main">
			<img class="img-responsive" src="img/logo.png" alt="">
		</div>
		</header>
		<div class="row button-box">
			<div class="col-sm-3">
				<a href="#/user" class=" btn btn-primary btn-block chat-window disabled" style="height:100px;text-align:center;padding-top: 40px;"><span class="fa fa-comments dash-icon"></span>CHAT WINDOW</a>
			</div>

			<div class="col-sm-3"style=" width:28%;" >

				<div class="dropdown customer-report"style="height:100px;text-align:center;padding-top: 40px;">
					<button class="btn btn-default dropdown-toggle customer-report-btn " type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span class="fa fa-bar-chart dash-icon">CUSTOMER REPORT</span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li><a href="#/offer_segment">Offer Segment View</a></li>
					<li><a href="#/customer_segment">Customer Segment View</a></li>
					<li><a href="#/customer_profile">Customer Profile View</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3">

				<a href="#/customer_service"  class=" btn btn-primary btn-block customer-service disabled" style="height:100px;text-align:center;padding-top: 40px;"><span class="fa fa-cog dash-icon"></span>ADMIN SECTION</a>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
</div>   
