<div ng-include="'templates/include/back_header.html'"></div>
<div class="modal-dialog">
    <div class="loginmodal-container">
        <h1>Enter Your Email Id </h1><br>
        <form ng-submit="forgetPassword();" name="forgot_password" novalidate>
            <span class="err" ng-bind="error"></span>
            <span class="success_message" ng-bind="success"></span>
            <input type="email" name="email" placeholder="Email ID" ng-model="email" required>
            <span class="err" ng-show="forgot_password.email.$dirty && forgot_password.email.$invalid">
                <span ng-show="forgot_password.email.$error.required">Email is required.</span>
                <span ng-show="forgot_password.email.$error.email">Invalid email address.</span>
            </span>
            <div class="loader_angular" ng-show="Loader"></div>
            <input type="submit" name="login" class="login loginmodal-submit" value="Submit">
        </form>
    </div>
</div>