<div page-Header></div>

<div class="header">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-sm-12 profile-view-header">
                <div class="col-sm-12">
                  
                        <form name="member_profile">
                            <div class="row">
                                 <div class="col-sm-12">
                                 <div class="col-sm-3 col-sm-offset-0 user-wechat">
                                    <label class="user-wechat-label">
                                        <input type="radio" name="search_type" value="customer_id" checked="checked" ng-model="search_by" > Wechat Id&nbsp;
                                        <input type="radio" value="card_no" name="search_type" ng-model="search_by"> Card#  
                                    </label>
                                </div>
                                 <div class="col-sm-3 col-sm-offset-0 user-wechat" ng-if="search_by == 'customer_id'">
                                    <input type="text" class="form-control" ng-model="wechat_id" id="wechat_id" placeholder="Enter Member WeChat Id.">
                                    <p class="err wechat-error" ng-bind="error_message">Please out a valid wechat id</p>
                                     
                                </div>
                                <div class="col-sm-3 col-sm-offset-0 user-wechat" ng-if="search_by == 'card_no'">
                                    <input type="text" class="form-control" ng-model="card_no" id="card_no" placeholder="Enter Card Number.">
                                    <p class="err" ng-bind="error_message"></p>
                                </div>
                                <div class="col-sm-3">
                                    <button type="submit" class="btn btn-primary btn-block wechat-submit-btn" ng-click="showCustomerDetail()">Search Member</button>
                                </div>
                                <div class="loader_angular" ng-show="showCustomerLoader"></div>     
                            </div>  
                            </div>    
                        </form>
                       
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
           <div class="row profile-user">
                <div class="col-sm-12" style="padding-left:0px;"> 
                    <a href="#" class="col-sm-4 col-xs-4">
                        <img class="media-object user-photo" src="img/profile.jpg" alt="..." width="60" height="60">
                    </a>

                    <h5 class="customer-name-details col-sm-8 col-xs-6">{{customer_details.memberFirstName}} {{customer_details.memberLastName}}</h5>
                    {{customer_details.memberGender}} {{customer_details.memberAge | number:0}}
                </div>
                <div class="col-sm-12 view-table-data">
                     <table class="table table-responsive ">
                        <tbody>
                            <tr>
                                <th>Wechat Id :</th>
                                <td ng-bind="customer_details.memberWechatId"></td>
                            </tr>
                            <tr>
                                <th>Card Type :</th>
                                <td ng-bind="customer_details.MTRCardType"></td>
                            </tr>
                            <tr>
                                <th>
                                    Ph No.
                                </th>
                                <td ng-bind="customer_details.memberPhone">
                                    
                                </td>
                            <tr>
                                <th>Points :</th>
                                <td ng-bind="customer_details.MTRPoints"></td>
                            </tr>
                            <tr>
                                <th>Occupation :</th>
                                <td ng-bind="customer_details.memberOccupation"></td>
                            </tr>
                            <tr>
                                <th>Hobbies :</th>
                                <td ng-bind="customer_details.memberHobby"></td>
                            </tr>
                            <tr>
                                <th>Segment :</th>
                                <td ng-bind="customer_details.memberSegment"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 cust-tag">
                    <div class="tag-header"></div>
                    <h3 class="details-tag">
                        Tags :
                    </h3>
                    <div class="col-sm-12 col-sm-12 tag-box">
                        <div class="tag-holder">
                            <span ng-repeat="tag in customer_tag">
                                <span class="tag-style">
                                    {{$index+1}}. {{tag.tagDesc}}
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- user detail ends -->
        </div>
        <!-- left panel ends -->
        <div class="col-sm-4">
            <div class="row progress-campaign">
                <h3 class="action-status">
                    Offer campaign action status :
                </h3>
                <div class="col-sm-12 offer-progress">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Offer campaign Sent:   {{customer_details.sent}}
                        </li>
                        <li class="list-group-item">Offer campaign Clicked
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="{{(customer_details.click/customer_details.sent)*100 | number : 0}}" aria-valuemin="0" aria-valuemax="100" style="width:{{(customer_details.click/customer_details.sent)*100 | number : 0}}%">

                                {{customer_details.click}} <span class="addon"> {{(customer_details.click/customer_details.sent)*100 | number : 0}}%</span>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">Offer campaign used
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{(customer_details.used/customer_details.sent)*100 | number : 0}}" aria-valuemin="0" aria-valuemax="100" style="width:{{(customer_details.used/customer_details.sent)*100 | number : 0}}%">
                                    {{customer_details.used}}<span class="addon-2">{{(customer_details.used/customer_details.sent)*100 | number : 0}}%</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>




            
            <div class="row progress-campaign">
                 <div class="col-sm-12 predicted-offers">
                        <h3 class="offers-heading">
                            Predicted Offers :
                        </h3>
                     <div class="predicted-offers-box">
                        <ul class="nav list-group predicted-offers-list ">
                            <li ng-repeat="p_offer in predicted_offer">
                                <span class="glyphicon glyphicon-info-sign" title="{{p_offer.reason}}"></span>&nbsp;{{p_offer.offer_name}}
                            </li>
                            <li ng-if="predicted_offer.length<1">
                                No Predicted Offer Found.
                            </li>


                        </ul>
                        </div>
                    </div>
            </div>
            <div class="row offer-section-predict" style="margin-bottom:10px">
                <div class="col-sm-12 predicted-offers">
                    <h3 class="offers-heading-table">
                        Offer history :
                    </h3>
                     
                      
                          
                    <div class="col-sm-3 col-xs-4" style="padding-left:0px;padding-right:0px; font-size:14px; margin-bottom:5px;"><strong>Merchant</strong></div>
                    <div class="col-sm-6 col-xs-8" style="padding-left:0px;padding-right:0px;font-size:14px;margin-bottom:5px;"><strong>Description</strong></div>
                   

                    <div class="row" ng-repeat="history in offer_history" style="margin-bottom:5px;">

                        <div class="col-sm-4" ng-bind="history.merchantName" >
                        </div>
                         <div class="col-sm-8" ng-bind="history.offer_name_en"  style="padding-left:2px;padding-right:2px; font-size:12px;">
                        </div>
                       
                    </div>

                    <div class="row col-sm-12" ng-if="offer_history.length<1" style="margin-top:10px;">
                        No offer history found.
                    </div>
                    <!--
                    <div class="predicted-offers-table">


                       
                        <table class="table offer-history">
                            <tbody ng-repeat="history in offer_history">
                                <tr>
                                <td ng-bind="history.merchantName"></td>
                                <td ng-bind="history.offer_name_en"></td>
                                
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                    -->
                </div>
            </div>
        </div>
        <!-- extreme right panel -->
        <div class="col-sm-4">


        
            <div class="row section-map">   
                <div class="col-sm-12">    
                    <h3 class="map-he">
                        Places frequently visited :
                    </h3>            
                    <div class="row map">
                        <div class="col-sm-6" id = "sample" style = "width:95%; height:179px;">
                            <bing-map
                                credentials="'AjZ0wB-x_wfUhjERvFMimAGIUbgHM7uRTKubZcmsbnE_-DSE49gBI53Ts9ClaeT5'"
                                center="mapOptions.center"
                                zoom="mapOptions.zoom"
                                mapType="mapOptions.mapType"

                                scrollwheel= false 
                                disableZooming= true>
                                
                                <pushpin
                                    lat="pin.latitude"
                                    lng="pin.longitude"
                                    options="pushpin.options"
                                    events="pushpin.events",
                                    pushpin-data="$index"
                                    ng-repeat="pin in MapPushpin">
                                </pushpin>

                                
                            </bing-map>
                        </div>
                    </div>
                </div>
            </div>


       

            <div class="row  match-user" style="margin-bottom:5px">   
                <div class="col-sm-12">    
                    <h3 class="header-connection">
                        Places visited details:
                    </h3>            
                    <div class="row ">
                        <div class="col-sm-8" style="padding-right:0px; font-size:14px; margin-bottom:5px;">
                            <strong>City Name</strong>
                        </div>
                        <div class="col-sm-4" style="padding-right:0px; font-size:14px; margin-bottom:5px;">
                            <strong>No. of Visit</strong>
                        </div>
                    </div>
                    <div class="row" ng-repeat="loc in locationHistory" style="margin-bottom:5px;">
                        
                        <div class="col-sm-8" ng-bind="loc.city">
                            
                        </div>
                        <div class="col-sm-4 pull-right"  ng-bind="loc.visit">
                           
                        </div>
                    </div>
                    <div ng-if="locationHistory.length<1" style="margin-top:10px;text-align:center">
                        No place found.
                    </div>
                </div>
            </div>
             
            
                <div class="row match-user divDisabled">
                    <div class="col-sm-12"> 
                        <h3 class="header-connection">
                            Connections or Similarity matching :
                        </h3>
                        <div class="media main-user">
                            <div class="media-left">
                                <a href="#">
                                    <img src="img/profile.jpg" width="70" height="70" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading main-user-info">{{customer_details.memberFirstName}} {{customer_details.memberLastName}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12"> 
                                <ul class="list-inline connection-list">
                                    <li>
                                        <figure class="connection-img">
                                            <img src="img/profile.jpg" width="50" height="50" alt="">
                                            <figcaption class="user-connections">
                                                XYZ
                                                <p class="connection-percent">
                                                    Similarity matching-65% 
                                                    <br>
                                                    xyz@tomlee.com
                                                </p>
                                               
                                            </figcaption>
                                        </figure>
                                    </li> 
                                    <li>
                                        <figure class="connection-img">
                                            <img src="img/profile.jpg" width="50" height="50" alt="">
                                            <figcaption class="user-connections">
                                                 XYZ
                                                <p class="connection-percent">
                                                    Similarity matching-45%
                                                     <br>
                                                    xyz@tomlee.com
                                                </p>

                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="connection-img">
                                            <img src="img/profile.jpg" width="50" height="50" alt="">
                                            <figcaption class="user-connections">
                                                 XYZ
                                                <p class="connection-percent">
                                                Similarity matching-65% 
                                                  <br>   
                                                xyz@tomlee.com
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="connection-img">
                                            <img src="img/profile.jpg" width="50" height="50" alt="">
                                            <figcaption class="user-connections">
                                                 XYZ
                                                <p class="connection-percent">
                                                    Similarity matching-65% 
                                                     <br>
                                                    xyz@tomlee.com
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </li> 
                                    <li>
                                        <figure class="connection-img">
                                            <img src="img/profile.jpg" width="50" height="50" alt="">
                                            <figcaption class="user-connections">
                                                 XYZ
                                                <p class="connection-percent">
                                                    Similarity matching-45% 
                                                     <br>
                                                    xyz@tomlee.com
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="connection-img">
                                            <img src="img/profile.jpg" width="50" height="50" alt="">
                                            <figcaption class="user-connections">
                                                 XYZ
                                                <p class="connection-percent">
                                                    Similarity matching-65% 
                                                     <br>
                                                    xyz@tomlee.com
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </li>                   
                                </ul>
                            </div>
                        </div>
                  </div>
                </div>
                
            </div>
        
        </div>
</div>


<style>
    body{
        overflow-x: hidden;
    }
.loader_angular {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 27px;
    z-index: 99;
    background: url("img/loader.gif") center no-repeat;
    background-size: 70%;
}
    
 .overlay{
  position:absolute; 
  top:260px;
  width: 610px;
  height:341px;
  z-index: 10;
  background-color: rgba(255,255,255,0.7); /*dim the background*/
}
</style>