<div page-Header></div>
<div class="content container-fluid">
	<div class="row margin-top-20">
		<div class="col-sm-12">
			<div class="row">
             
                <div class="col-sm-2 col-xs-2">
					<strong><span class="">Total : {{details_response.length}}</span></strong>
			</div>

		
				
            	<div class="col-sm-6 col-xs-6">
            		<form class="form-inline pull-right">
                        <div class="form-group">
                            <label >Search</label>
                            <input type="text" ng-model="search" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>
                 <div class="col-sm-4 col-xs-4">  
				<button type="button" class="btn btn-primary pull-right more-filter-button" data-toggle="modal" data-target="#myModal">Add More Filter</button>
                </div>
            </div>
            <div class="table-responsive">
            	<button class="btn btn-link" ng-click="exportToExcel('#tableToExport')">
					<span class="glyphicon glyphicon-share"></span>
					Export to Excel
				</button>
				 <button class="btn btn-link" class="btn btn-primary" data-toggle="modal" data-target="#ShowPdfModel">
					Generate PDF View
				</button>
				<table class="table table-bordered merchant-display-view" id="tableToExport" style="display:none">
	    			<thead class="btn-primary">
						<tr>
							<th>Merchant Id 
							</th>
							<th ng-click="sort('merchantName')">Merchant  
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'merchantName'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-merchantName'"></span>
							</th>
							<th ng-click="sort('LocationName')">Address  
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'LocationName'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-LocationName'"></span>
							</th>
							<th ng-click="sort('City')">Merchant Location  
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'City'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-City'"></span>
							</th>
							<th ng-click="sort('CategoryDesc')">Category 
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'CategoryDesc'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-CategoryDesc'"></span>
							</th>
							<th ng-click="sort('subCategoryDesc')">Sub Category  
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'subCategoryDesc'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-subCategoryDesc'"></span>
							</th>
							<th ng-click="sort('offer_address_en')">Offer Location 
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'offer_address_en'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-offer_address_en'"></span>
							</th>
						</tr>
					</thead>
                   
					<tbody>
						<tr  ng-repeat="history in details_response | orderBy:sortBy:reverse | filter:search">
							<td ng-bind="history.MerchantId"></td>
							<td ng-bind="history.merchantName"></td>
							<td>{{history.LocationName}}  {{history.LocationAddress1 }}</td>
							<td ng-bind="history.City"></td>
							<td ng-bind="history.CategoryDesc"></td>
							<td ng-bind="history.subCategoryDesc"></td>
							<td ng-bind="history.offer_address_en"></td>
						</tr>
					</tbody>
				</table>
	            <table class="table table-bordered merchant-display-view" >
	    			<thead class="btn-primary">
						<tr>
							<th>Merchant Id 
							</th>
							<th ng-click="sort('merchantName')">Merchant  
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'merchantName'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-merchantName'"></span>
							</th>
							<th ng-click="sort('LocationName')">Address  
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'LocationName'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-LocationName'"></span>
							</th>
							<th ng-click="sort('City')">Merchant Location  
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'City'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-City'"></span>
							</th>
							<th ng-click="sort('CategoryDesc')">Category 
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'CategoryDesc'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-CategoryDesc'"></span>
							</th>
							<th ng-click="sort('subCategoryDesc')">Sub Category  
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'subCategoryDesc'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-subCategoryDesc'"></span>
							</th>
							<th ng-click="sort('offer_address_en')">Offer Location 
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'offer_address_en'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-offer_address_en'"></span>
							</th>
						</tr>
					</thead>
					<tbody dir-paginate="details in details_response | orderBy:sortBy:reverse | itemsPerPage: selected_search_type_per_page | filter:search">
						<tr >
							<td ng-bind="details.MerchantId"></td>
							<td ng-bind="details.merchantName"></td>
							<td>{{details.LocationName}}  {{details.LocationAddress1 }}</td>
							<td ng-bind="details.City"></td>
							<td ng-bind="details.CategoryDesc"></td>
							<td ng-bind="details.subCategoryDesc"></td>
							<td ng-bind="details.offer_address_en"></td>
						</tr>
					</tbody>
                     <div class="loader_angular col-md-1 merchant-view-load" ng-show="show_loader"></div>
				</table>
				 <div class="table-striped" style="margin-top:10px;">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>
                                Show 
                                <select ng-model="selected_search_type_per_page" 
                                    ng-options="search.value as search.name for search in page_per_pagination" 
                                    ng-init="selected_search_type_per_page=selected_page_pagination" style="height:30px">
                                </select>
                            </label>
                        </div>
                        <div class="col-sm-6 text-right">
                            <div class="text-center">
                                <dir-pagination-controls 
                                boundary-links="true" 
                                max-size="3" 
                                direction-links="true">
                                </dir-pagination-controls>
                            </div>
                        </div>
                    </div>

                </div>
			</div>
		</div>
	</div>
</div>

<!-- model section -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="offerHistory">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-body">
					<div class="panel panel-primary">
						<div class="panel-heading text-center">FILTERS</div>
						<div class="panel-body">
							<div class="col-sm-12">
		                   		<div class="loader_angular col-md-1 profile-view-load" ng-show="show_loader_filter"></div>
		                    </div>
		                    <div class="rows padding-row">
		                    	<div class="col-sm-6">
									<div class="col-sm-12">
										<strong> Merchant : </strong>
										<span class="glyphicon glyphicon-list-alt" ng-click="selectAllFilter('merchant');" title="select all"></span>
									</div>
									<div class="col-sm-12">
										<select chosen multiple ng-model="merchant_selected" ng-options="s.name for s in merchat_details track by s.id"  data-placeholder="LOADING MERCHANT" id="merchant_selected" >
											<option value="" disabled> SELECT MERCHANT</option>
										</select>
									</div>
								</div>
			                    <div class="col-sm-6">
									<div class="col-sm-12">
										<strong>Merchant Location : </strong>
									</div>
									<div class="col-sm-12">
										<select chosen multiple ng-model="merchant_location_selected" ng-options="s.name for s in merchant_location_name"   data-placeholder="LOADING MERCHANT LOCATION">
											<option value="" disabled> SELECT MERCHANT LOCATION</option>
										</select>
									</div>
								</div>
								<div class="col-sm-12">
									 <a class=" pull-right pointer-class"> &nbsp;</a>
								</div>
							</div>
							<div class="rows padding-row">
								<div class="col-sm-6">
									<div class="col-sm-12">
										<strong> Card Type : </strong>
										<span class="glyphicon glyphicon-list-alt" ng-click="selectAllFilter('card_type');" title="select all"></span>
									</div>
									<div class="col-sm-12">
										<select chosen multiple ng-model="card_type_selected" ng-options="s.name for s in card_type"  placeholder-expression="Card Type" title="Enter card details"  data-placeholder="LOADING CARD TYPE">
											<option value="" disabled> SELECT CARD TYPE</option>
			                            </select>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="col-sm-12">
										<strong>Offer Location : </strong>
									</div>

									<div class="col-sm-12">
										<select chosen multiple ng-model="location_selected" ng-options="s.name for s in location_name"   data-placeholder="LOADING OFFER LOCATION">
											<option value="" disabled> SELECT OFFER LOCATION</option>
										</select>
									</div>
								</div>
								<div class="col-sm-12">
									 <a class=" pull-right pointer-class"> &nbsp;</a>
								</div>
							</div>
							<div class="rows padding-row">
								<div class="col-sm-6">
									<div class="rows padding-row" ng-hide="sub_category_selected.length>0">
										<div class="col-sm-12 padding-row">
											<strong> Category : </strong>
											<span class="glyphicon glyphicon-list-alt" ng-click="selectAllFilter('category');" title="select all"></span>
										</div>
										<div class="col-sm-12">
											<select chosen multiple ng-model="category_selected" ng-options="s.name for s in category"   data-placeholder="LOADING CATEGORY">
												<option value="" disabled> SELECT CATEGORY</option>
				                            </select>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="rows padding-row" ng-hide="category_selected.length>0">
										<div class="col-sm-12 padding-row">
											<strong>Sub-Category : </strong>
											<span class="glyphicon glyphicon-list-alt" ng-click="selectAllFilter('sub_category');" title="select all"></span>
										</div>
										<div class="col-sm-12">
											<select chosen multiple ng-model="sub_category_selected" ng-options="s.name for s in sub_category"  data-placeholder="LOADING SUB-CATEGORY">
												<option value="" disabled> SELECT SUB-CATEGORY</option>
				                            </select>
										</div>
									</div>
								</div>
								<div class="col-sm-12">
									 <a class=" pull-right pointer-class"> &nbsp;</a>
								</div>
							</div>
							
							<div class="rows padding-row" >
								<div class="col-sm-12 padding-row">
									<button class="btn btn-primary get-map-btn" ng-click="getMerchantDisplayView();">View details</button>
								</div>
								
							</div>
							<div class="rows padding-row" >
								<div class="col-sm-12 padding-row">
								</div>
								<div class="col-sm-12">
									<br>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close_filter">
                    Close
                </button>
            </div>
        </div>
    </div>
    <input type="hidden" name="dragable_id" id="dragable_id" value="">
</div>

<div class="modal fade" id="ShowPdfModel" tabindex="-1" role="dialog" aria-labelledby="offerHistory">
    <div class="modal-dialog" role="document" style="width:95%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-center" id="myModalLabel">
                   Download PDF For Merchant Display View

                </h4>
                 <div class="modal-body">
                 	<button class="btn btn-link" ng-click="generatePDF()" class="btn btn-primary">
						<span class="glyphicon glyphicon-download-alt"></span>
						Download PDF
					</button>
                   <table class="table table-bordered" id="tableToPdf">
	    			<thead class="btn-primary">
						<tr>
							<th>Merchant Id 
							</th>
							<th ng-click="sort('merchantName')">Merchant  
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'merchantName'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-merchantName'"></span>
							</th>
							<th ng-click="sort('LocationName')">Address  
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'LocationName'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-LocationName'"></span>
							</th>
							<th ng-click="sort('City')">Merchant Location  
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'City'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-City'"></span>
							</th>
							<th ng-click="sort('CategoryDesc')">Category 
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'CategoryDesc'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-CategoryDesc'"></span>
							</th>
							<th ng-click="sort('subCategoryDesc')">Sub Category  
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'subCategoryDesc'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-subCategoryDesc'"></span>
							</th>
							<th ng-click="sort('offer_address_en')">Offer Location 
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'offer_address_en'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-offer_address_en'"></span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr  ng-repeat="history in details_response | orderBy:sortBy:reverse | filter:search">
							<td ng-bind="history.MerchantId"></td>
							<td ng-bind="history.merchantName"></td>
							<td>{{history.LocationName}}  {{history.LocationAddress1 }}</td>
							<td ng-bind="history.City"></td>
							<td ng-bind="history.CategoryDesc"></td>
							<td ng-bind="history.subCategoryDesc"></td>
							<td ng-bind="history.offer_address_en"></td>
						</tr>
					</tbody>
				</table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close_pdf_model">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<style>
    body{
        overflow-x: hidden;
    }
.loader_angular {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 27px;
    z-index: 99;
    background: url("img/loader.gif") center no-repeat;
    background-size: 70%;
}
    
 .overlay{
  position:absolute; 
  top:260px;
  width: 610px;
  height:287px;
  z-index: 10;
  background-color: rgba(255,255,255,0.7); /*dim the background*/
}
</style>