<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 profile-view">
                <div class="col-md-12">
                    <div class="col-md-1 col-sm-1 col-xs-1">
                        
                    	<a href="#/dashboard" class="btn btn-default profile-back-button"><span class="fa fa-long-arrow-left"></span></a>
                    </div>
                     <div class="col-md-3">
                       <h3 class="customer-profile-view">  <a href="#/dashboard">Home </a> >&nbsp;&nbsp;&nbsp;Merchant Dispaly View</h3>
                        <h4 class="customer-profile-view hidden-lg hidden-md hidden-sm hidden-xs"> <a href="#/dashboard">Home </a> >&nbsp;&nbsp;&nbsp;Merchant Dispaly View</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content container-fluid">

	<div class="row">
		<div class="col-sm-3">
			<div class="loader_angular col-md-1 profile-view-load" ng-show="show_loader"></div>
			<div class="panel panel-default">
				<div class="panel-heading">FILTERS</div>
				<div class="panel-body">
					<div class="col-sm-12">
                   		<button class="btn btn-primary get-map-btn" ng-click="getOfferSegmentDetails();">View details</button>
                    </div>
                    <div class="rows">
						<div class="col-sm-12">
							<strong> Date Range : </strong>
						</div>
                        <div class="col-sm-12 date-box-one">
							 <datepicker date-format="MM-dd-yyyy" selector="form-control">
		                        <div class="input-group">
		                            <input class="form-control" placeholder="Start Date" ng-model="start_date">
		                        </div>
		                    </datepicker>
                        </div>
                        <div class="col-sm-12">
                            <datepicker date-format="MM-dd-yyyy" selector="form-control">
		                        <div class="input-group">
		                             <input class="form-control" placeholder="End Date" ng-model="end_date"/>
		                        </div>
		                    </datepicker>
						</div>
						<div class="col-sm-12">
							 <a class="pull-right pointer-class" style="cursor:pointer"> &nbsp;</a>
						</div>
					</div>
					<div class="rows padding-row">
						<div class="col-sm-12 padding-row">
							<strong> Card Type : </strong>
						</div>
						<div class="col-sm-12">
							<select chosen multiple ng-model="card_type_filter_details" ng-options="s.name for s in card_type"  placeholder-expression="Card Type" title="Enter card details">
                            </select>
						</div>
						<div class="col-sm-12">
							 <a class=" pull-right pointer-class"> &nbsp;</a>
						</div>
					</div>
					<div class="rows padding-row" ng-hide="sub_category_selected.length>0">
						<div class="col-sm-12 padding-row">
							<strong> Category : </strong>
						</div>
						<div class="col-sm-12">
							<select chosen multiple ng-model="category_selected" ng-options="s.name for s in category"  placeholder-expression="Card Type" title="Enter Category details">
                            </select>
						</div>
						<div class="col-sm-12">
							 <a class=" pull-right pointer-class"> &nbsp;</a>
						</div>
					</div>

					<div class="rows padding-row">
						<div class="col-sm-12">
							<strong> Location : </strong>
						</div>
						<div class="col-sm-12">
							<select chosen multiple ng-model="location_selected" ng-options="s.name for s in location_name"  placeholder-expression="City Name">
							</select>
						</div>

						<div class="col-sm-12">
							 <a class=" pull-right pointer-class"> &nbsp;</a>
						</div>
					</div>
					<div class="rows">
						<div class="col-sm-12">
							<strong> Merchant : </strong>
						</div>
						<div class="col-sm-12">
							<select chosen multiple ng-model="merchant_selected" ng-options="s.name for s in merchat_details track by s.id"  placeholder-expression="Segment Name" id="merchant_selected" >
							</select>
						</div>

						<div class="col-sm-12">
							 <a class=" pull-right pointer-class"> &nbsp;</a>
						</div>
					</div>
					<div class="rows padding-row" ng-hide="category_selected.length>0">
						<div class="col-sm-12 padding-row">
							<strong>Sub-Category : </strong>
						</div>
						<div class="col-sm-12">
							<select chosen multiple ng-model="sub_category_selected" ng-options="s.name for s in sub_category"  placeholder-expression="Card Type" title="Enter Category details">
                            </select>
						</div>
						<div class="col-sm-12">
							 <a class=" pull-right pointer-class"> &nbsp;</a>
						</div>
					</div>
					<div class="rows padding-row" >
						<div class="col-sm-12 padding-row">
						</div>
						<div class="col-sm-12">
							<br>
						</div>
					</div>
					<div class="rows padding-row" >
						<div class="col-sm-12 padding-row">
						</div>
						<div class="col-sm-12">
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-9">
		</div>
	</div>
</div>
<style>
    body{
        overflow-x: hidden;
    }
.loader_angular {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 27px;
    z-index: 99;
    background: url("img/loader.gif") center no-repeat;
    background-size: 70%;
}
    
 .overlay{
  position:absolute; 
  top:260px;
  width: 610px;
  height:287px;
  z-index: 10;
  background-color: rgba(255,255,255,0.7); /*dim the background*/
}
</style>