<div page-Header></div>
<div class="container-fluid" style="margin-top:20px;">
	<div class="row" style="margin-bottom:20px;">
		<div class="col-sm-2" style="padding-right: 8px;">
			<div class="panel panel-default">
				<div class="panel-heading">FILTERS</div>
				<div class="panel-body" style="font-size:12px">
					<div class="col-sm-12">
                   		<button class="btn btn-primary" ng-click="getOfferSegmentDetails();" style="padding : 6px 4px">View details</button>
                    </div>
                    
					<div class="rows padding-row" ng-show="checkboxModel.age_grouped">
						<div class="col-sm-12">
							<strong> AGE GROUP : </strong>
						</div>
						<div class="col-sm-12 padding-2">
							<select chosen multiple ng-model="age_group_filter" ng-options="s.value for s in age_group_type"  placeholder-expression="City Name">
							</select>
						</div>

						<div class="col-sm-12">
							 <a class=" pull-right pointer-class"> &nbsp;</a>
						</div>
					</div>
					<div class="rows padding-row" ng-show="checkboxModel.card_type">
						<div class="col-sm-12 padding-row">
							<strong> CARD TYPE : </strong>
						</div>
						<div class="col-sm-12 padding-2">
							<select chosen multiple ng-model="card_type_filter_details" ng-options="s.card_type for s in card_type"  placeholder-expression="Card Type" title="Enter card details">
                            </select>
						</div>
						<div class="col-sm-12">
							 <a class=" pull-right pointer-class"> &nbsp;</a>
						</div>
					</div>
					<div class="rows padding-row" ng-show="checkboxModel.category">
						<div class="col-sm-12 padding-row">
							<strong> CATEGORY : </strong>
						</div>
						<div class="col-sm-12 padding-2">
							<select chosen multiple ng-model="category_filter_details" ng-options="s.category for s in category"  placeholder-expression="Card Type" title="Enter Category details">
                            </select>
						</div>
						<div class="col-sm-12">
							 <a class=" pull-right pointer-class"> &nbsp;</a>
						</div>
					</div>
					<div class="rows padding-row" ng-show="checkboxModel.gender">
						<div class="col-sm-12 padding-row">
							<strong> GENDER : </strong>
						</div>
						<div class="col-sm-12 padding-2">
							<select chosen multiple ng-model="gender_type_filter" ng-options="s.name for s in gender_type"  placeholder-expression="Gender" title="Gender">
                            </select>
						</div>

						<div class="col-sm-12">
							 <a class=" pull-right pointer-class"> &nbsp;</a>
						</div>
					</div>
					<div class="rows padding-row"  ng-show="checkboxModel.location">
						<div class="col-sm-12 padding-row">
							<strong> LOCATION : </strong>
						</div>
						<div class="col-sm-12 padding-2">
							<select chosen multiple ng-model="location_filter" ng-options="s.cust_location for s in location_name"  placeholder-expression="City Name">
							</select>
						</div>

						<div class="col-sm-12">
							 <a class=" pull-right pointer-class"> &nbsp;</a>
						</div>
					</div>
					<div class="rows padding-row" ng-show="checkboxModel.segment">
						<div class="col-sm-12 padding-row">
							<strong> SEGMENT : </strong>
						</div>
						<div class="col-sm-12 padding-2">
							<select chosen multiple ng-model="segment_filter" ng-options="s.cust_segment for s in segment_type"  placeholder-expression="Segment Name" id="segment_details"  ng-init="segment_filter = default_segment_filter">
							</select>
						</div>

						<div class="col-sm-12">
							 <a class=" pull-right pointer-class"> &nbsp;</a>
						</div>
					</div>
					<div class="rows padding-row" ng-show="checkboxModel.tag_details">
						<div class="col-sm-12 padding-row">
							<strong> TAGS : </strong>
						</div>
						<div class="col-sm-12 padding-2">
							<select chosen multiple ng-model="tag_details_filter" ng-options="s.name for s in tag_type"  placeholder-expression="Gender" title="Gender">
                            </select>
						</div>

						<div class="col-sm-12">
							 <a class=" pull-right pointer-class"> &nbsp;</a>
						</div>
					</div>
					<div class="rows padding-row" ng-show="checkboxModel.date_range">
						<div class="col-sm-12 padding-row">
							<strong> DATE RANGE : </strong>
						</div>
                        <div class="col-sm-12 date-box-one padding-2">
							 <datepicker date-format="MM-dd-yyyy" selector="form-control">
		                        <div class="input-group">
		                            <input class="form-control" placeholder="Start Date" ng-model="start_date">
		                        </div>
		                    </datepicker>
                        </div>
                        <div class="col-sm-12 padding-2">
                            <datepicker date-format="MM-dd-yyyy" selector="form-control">
		                        <div class="input-group">
		                             <input class="form-control" placeholder="End Date" ng-model="end_date"/>
		                        </div>
		                    </datepicker>
						</div>
						<div class="col-sm-12">
							 <span class="err" ng-bind="error" style="padding:10px"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-10" style="padding-left: 5px;">
           <div class="rows">
				<div class="col-sm-4">
					<label style="font-size=16px"> <strong> Search By : </strong><br>
			  		</label>
					<label style="font-size=12px;font-weight: 100;">Offer Id :
						<input type="radio" ng-model="checkboxModel.offer_segment_search_by" value="offer_id" ng-click="changeofferSearchStatus('offer_id')" name ="offer_serach_by" id="offer_id" checked>
			  		</label>
			  		<label style="font-size=12px;font-weight: 100;">Merchant :
			  			<input type="radio" ng-model="checkboxModel.offer_segment_search_by" value="merchant_name" ng-click="changeofferSearchStatus('merchant_name')"  name ="offer_serach_by"  id="merchant_name">
			  		</label>
			  	</div>
				<div class="col-sm-8" style="color:#0988ea" ng-show="show_by_offer">
					<div class="input-group" >
                        <div class="col-sm-5"><span style="display:block;margin-top:7px;"><strong> Offer Id : </strong></span></div><div class="col-sm-7"><input class="form-control" placeholder="Offer Id" ng-model="offer_id"></div>
                    </div>
				</div>
                
               <div class="col-sm-4 merchant-select"  style="color:#0988ea;font-size:14px" ng-hide="show_by_offer">
					<strong>Select Merchant : </strong>
                    <strong style="color:#0988ea;display:block; margin-top:10px;">Select Offer : </strong>
				</div>
				<div class="col-sm-4 date-box-one"  ng-hide="show_by_offer">
						
                        <div class="input-group col-sm-4" style="margin-top:-18px;margin-bottom:10px;">
							<select chosen name="singleSelect" id="singleSelect" ng-model="merchant_details" ng-change="getOfferDetails();" class="input-small" ng-options="option.name for option in merchat_details"></select>
								
							<!--
								<option value="" disabled> Select Merchant</option>
								<option ng-repeat="option in merchat_details" value="{{option.id}}" ng-bind="option.name"></option>
							
							-->
                        </div>
                        <div class="loader_angular col-sm-4 select-merchant-loader" ng-show="show_merchant_loader"></div>
                        
                         <div class="input-group col-sm-4">
                            
							<select chosen name="singleSelect" id="offerSelect" ng-model="offer_id_details" ng-change="changeofferSearchStatus('change_to_offer_id')" class="input-small"  ng-options="option.offer_rule_en for option in offer_details">
							</select>
                        </div>
                </div>
                <div class="col-sm-12 date-box-one"  ng-show="show_by_offer" style="margin-top:-2px;">
                    
                     <div class="col-sm-2" style="padding-left:0px; padding-right"><span style="display:block;margin-top:7px;color:#0988ea"><strong> Offer Description : </strong></span></div>
                    <div class="col-sm-10" style="margin-top:8px;" ng-bind="offer_name"></div>
                
                   
                </div>
                <div class="col-sm-12 date-box-one"  ng-hide="show_by_offer" style="margin-top:-2px;">
                    
                     <div class="col-sm-2" style="padding-left:0px; padding-right"><span style="display:block;margin-top:7px;color:#0988ea"></span></div>
                    <div class="col-sm-10" style="margin-top:8px;"></div>
                
                   
                </div>
			</div>
        
			<div class="row">
				<div class="col-sm-6" style=" border-top:1px solid #c2c2c2;border-right:1px solid #c2c2c2;padding-top:5px">
					<div class="col-sm-12">
						<strong> X-AXIS </strong>
					</div>
					<div class="col-sm-12">
						<label style="font-weight:100">
				    		<input type="radio" ng-model="checkboxModel.x_axis" value="age_grouped" ng-click="changeChecboxStatus('age_grouped','x_axis')" id="x_axis_age_group">&nbsp;Age group&nbsp;
				  		</label>
						<label style="font-weight:100">
							<input type="radio" ng-model="checkboxModel.x_axis" value="card_type" ng-click="changeChecboxStatus('card_type','x_axis')" id="x_axis_card_type">&nbsp;Card Type&nbsp;
				  		</label>
				  		<label style="font-weight:100">
							<input type="radio" ng-model="checkboxModel.x_axis" value="category" ng-click="changeChecboxStatus('category','x_axis')" id="x_axis_category">&nbsp;Category&nbsp;
				  		</label>

				  		<label style="font-weight:100">
				  			<input type="radio" ng-model="checkboxModel.x_axis" value="location" ng-click="changeChecboxStatus('location','x_axis')" id="x_axis_location">&nbsp;Location&nbsp;
				  		</label>
				  		<label style="font-weight:100">
				    		<input type="radio" ng-model="checkboxModel.x_axis" value="segment" ng-click="changeChecboxStatus('segment','x_axis')"  id="x_axis_segment">&nbsp;Segment&nbsp;
				  		</label>
				  		<label style="font-weight:100">
				  			<input type="radio" ng-model="checkboxModel.x_axis" value="gender" ng-click="changeChecboxStatus('gender','x_axis')"  id="x_axis_gender">&nbsp;Gender&nbsp;
				  		</label>
				  		<label style="font-weight:100">
				    		<input type="radio" ng-model="checkboxModel.x_axis" value="tags" ng-click="changeChecboxStatus('tags','x_axis')" id="x_axis_tags">&nbsp;Tags&nbsp;
				  		</label>
				  		
				  	</div>
				</div>
				<div class="col-sm-6" style=" border-top:1px solid #c2c2c2;padding-top:5px">
					<div class="col-sm-12">
						<strong> Y-AXIS </strong>
					</div>
					<div class="col-sm-12">
						<label style="font-weight:100">
				    		<input type="radio" ng-model="checkboxModel.y_axis" value="age_grouped" ng-click="changeChecboxStatus('age_grouped','y_axis')" id="y_axis_age_group">&nbsp;Age-group&nbsp;
				  		</label>
						<label style="font-weight:100">
							<input type="radio" ng-model="checkboxModel.y_axis" value="card_type" ng-click="changeChecboxStatus('card_type','y_axis')" id="y_axis_card_type">&nbsp;Card Type&nbsp;
				  		</label>
				  		<label style="font-weight:100">
							<input type="radio" ng-model="checkboxModel.y_axis" value="category" ng-click="changeChecboxStatus('category','y_axis')" id="y_axis_category">&nbsp;Category&nbsp;
				  		</label>
				  		<label style="font-weight:100">
				  			<input type="radio" ng-model="checkboxModel.y_axis" value="gender" ng-click="changeChecboxStatus('gender','y_axis')"  id="y_axis_gender">&nbsp;Gender&nbsp;
				  		</label>
				  		<label style="font-weight:100">
				  			<input type="radio" ng-model="checkboxModel.y_axis" value="location" ng-click="changeChecboxStatus('location','y_axis')" id="y_axis_location">&nbsp;Location&nbsp;
				  		</label>
				  		<label style="font-weight:100">
				    		<input type="radio" ng-model="checkboxModel.y_axis" value="segment" ng-click="changeChecboxStatus('segment','y_axis')"  id="y_axis_segment">&nbsp;Segment&nbsp;
				  		</label>
				  		<label style="font-weight:100">
				    		<input type="radio" ng-model="checkboxModel.y_axis" value="tags" ng-click="changeChecboxStatus('tags','y_axis')" id="y_axis_tags">&nbsp;Tags&nbsp;
				  		</label>
				  			
				  	</div>
				</div>
			</div>
			<div class="loader_angular" ng-show="show_loader"></div>
			<div id="container" style="min-width: 310px; height: 450px; margin: 0 auto"></div>
		</div>
	</div>

</div>
<style>
.loader_angular {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 32px;
    height: 27px;
    z-index: 99;
    background: url("img/loader.gif") center no-repeat;
    background-size: 70%;
}
.highcharts-credits
{
  display: none !important
}
.highcharts-legend
{
  display: none !important
}
    
    .merchant-select{
        width:12%; 
        padding-left:0px !important;
        padding-right:0px !important;
    }
    
    .select-merchant-loader{
        position: relative;
        bottom:10px;
        right:40px;
    }
</style>