<div page-Header></div>
<div class="content container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="row margin-top-20">
				<div class="col-sm-2">
					<strong><span>Total : {{details_response.length}}</span></strong>
				</div>
            	<div class="col-sm-6">
            		<form class="form-inline pull-right">
                        <div class="form-group">
                            <label >Search</label>
                            <input type="text" ng-model="search" class="form-control" placeholder="Search" style="width : 350px">
                        </div>
                    </form>
                </div>
                <div class="col-sm-4">
				<button type="button" class="btn btn-primary pull-right more-filter-button" data-toggle="modal" data-target="#myModal">Add More Filter</button>
			</div>
            </div>
            <button class="btn btn-link" ng-click="exportToExcel('#tableToExport')">
				<span class="glyphicon glyphicon-share"></span>
				Export to Excel
			</button>
			 <button class="btn btn-link" class="btn btn-primary" data-toggle="modal" data-target="#ShowPdfModel">
				Generate PDF View
			</button>
            <div class="table-responsive" >
            	
				<!-- table which are showing in our display -->
	            <table class="table table-bordered offer-display-detail" id="tableToExportPdf">
	    			<thead class="btn-primary">
						<tr>
							<th ng-click="sort('merchantName')">Merchant  
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'merchantName'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-merchantName'"></span>
							</th>
							<th ng-click="sort('Offer_rule_en')">Offer 
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'Offer_rule_en'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-Offer_rule_en'"></span>
							</th>
							<th>Offer Id</th>
							<th>Category</th>
							<th>Sub Category</th>
							
							<th>Benefit</th>
							<th>Offer Location</th>
							<th>Post Code</th>
						</tr>
					</thead>
					<tbody dir-paginate="details in details_response | orderBy:sortBy:reverse | itemsPerPage: selected_search_type_per_page | filter:search">
    					<tr >
    						<td ng-bind="details.merchantName"></td>
    						<td ng-bind="details.Offer_rule_en"></td>
    						<td ng-bind="details.OfferId"></td>
    						<td ng-bind="details.CategoryDesc"></td>
    						<td ng-bind="details.subCategoryDesc"></td>
    						
    						<td ng-bind="details.benefit_name_en"></td>
    						<td ng-bind="details.offer_address_en"></td>
    						<td ng-bind="details.postal_code"></td>
    					</tr>
    				</tbody>
				</table>
				<!-- table for excel generation -->
				<table class="table table-bordered offer-display-detail" id="tableToExport" style="display:none">
	    			<thead class="btn-primary">
						<tr>
							<th ng-click="sort('merchantName')">Merchant  
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'merchantName'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-merchantName'"></span>
							</th>
							<th ng-click="sort('Offer_rule_en')">Offer 
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'Offer_rule_en'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-Offer_rule_en'"></span>
							</th>
							<th>Offer Id</th>
							<th>Category</th>
							<th>Sub Category</th>
							
							<th>Benefit</th>
							<th>Offer Location</th>
							<th>Post Code</th>
						</tr>
					</thead>
                     <div class="loader_angular col-md-1 offer-view-load" ng-show="show_loader"></div>  
					<tbody >
    					<tr  ng-repeat="history in details_response | orderBy:sortBy:reverse | filter:search">
    						<td ng-bind="history.merchantName"></td>
    						<td ng-bind="history.Offer_rule_en"></td>
    						<td ng-bind="history.OfferId"></td>
    						<td ng-bind="history.CategoryDesc"></td>
    						<td ng-bind="history.subCategoryDesc"></td>
    						
    						<td ng-bind="history.benefit_name_en"></td>
    						<td ng-bind="history.offer_address_en"></td>
    						<td ng-bind="history.postal_code"></td>
    					</tr>
    				</tbody>
				</table>
				 <div class="table-striped" style="margin-top:10px;">
                    <div class="row">
                        <div class="col-sm-6">
                            <label>
                                Show 
                                <select ng-model="selected_search_type_per_page" 
                                    ng-options="search.value as search.name for search in page_per_pagination" 
                                    ng-init="selected_search_type_per_page=selected_page_pagination" style="height:30px">
                                </select>
                            </label>
                        </div>
                        <div class="col-sm-6 text-right">
                            <div class="text-center">
                                <dir-pagination-controls 
                                boundary-links="true" 
                                max-size="3" 
                                direction-links="true">
                                </dir-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>




<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="offerHistory">
    <div class="modal-dialog" role="document" style="width:95%">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-body">
                    <div class="panel panel-primary">
                    	<div class="panel-heading text-center">FILTERS</div>
						<div class="panel-body">
							<div class="rows">
								<div class="col-sm-12">
					           		<div class="loader_angular col-md-1 offer-view-load" ng-show="show_loader_details"></div>
					            </div>
					        </div>
				            <div class="rows">
								<div class="col-sm-12">
									<strong> Date Range : </strong>
								</div>
				                <div class="col-sm-6">

									 <datepicker date-format="MM-dd-yyyy" selector="form-control">
				                        <div class="input-group">
				                            <input class="form-control" placeholder="Start Date" ng-model="startDateToShow">
				                        </div>
				                    </datepicker>
				                </div>
				                <div class="col-sm-6">
				                    <datepicker date-format="MM-dd-yyyy" selector="form-control">
				                        <div class="input-group">
				                             <input class="form-control" placeholder="End Date" ng-model="end_date"/>
				                        </div>
				                    </datepicker>
								</div>
								<div class="col-sm-12">
									 <span class="err" ng-bind="error" style="padding:10px"></span>
								</div>
							</div>
							<div class="rows padding-row">
								<div class="col-sm-6">
									<div class="col-sm-12">
										<strong> Card Type : </strong>
										<span class="glyphicon glyphicon-list-alt" ng-click="selectAllFilter('card_type');" title="select all"></span>
									</div>
									<div class="col-sm-12">
										<select chosen multiple ng-model="card_type_selected" ng-options="s.name for s in card_type" placeholder-expression="Card Type" title="Enter card details" data-placeholder="Loading card type" data-placeholder-text-multiple="'SELECT CARD TYPE'" style="width: 200px;">
											<option value="" disabled> SELECT CARD TYPE</option>
					                    </select>

									</div>
									<div class="col-sm-12">
										 <a class=" pull-right pointer-class"> &nbsp;</a>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="row">
										<div class="col-sm-12">
											<strong>Offer Location : </strong>
										</div>
										<div class="col-sm-12">
											<select chosen multiple ng-model="location_selected" ng-options="s.name for s in location_name"  data-placeholder="Loading offer location" data-placeholder-text-multiple="'SELECT OFFER LOCATION'">
												<option value="" disabled> SELECT OFFER LOCATION</option>
											</select>
										</div>

										<div class="col-sm-12">
											 <a class=" pull-right pointer-class"> &nbsp;</a>
										</div>
									</div>
								</div>
							</div>
							<div class="rows padding-row">
								<div class="col-sm-6">
									<div class="rows" ng-hide="sub_category_selected.length>0">
										<div class="col-sm-12">
											<strong> Category : </strong>
											<span class="glyphicon glyphicon-list-alt" ng-click="selectAllFilter('category');" title="select all"></span>
										</div>
										<div class="col-sm-12">
											<select chosen multiple ng-model="category_selected" ng-options="s.name for s in category" data-placeholder="Loading category" data-placeholder-text-multiple="'SELECT CATEGORY'">
												<option value="" disabled> SELECT CATEGORY</option>
						                    </select>
										</div>
										<div class="col-sm-12">
											 <a class=" pull-right pointer-class"> &nbsp;</a>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="row" ng-hide="category_selected.length>0">
										<div class="col-sm-12">
											<strong>Sub-Category : </strong>
											<span class="glyphicon glyphicon-list-alt" ng-click="selectAllFilter('sub_category');" title="select all"></span>
										</div>
										<div class="col-sm-12">
											<select chosen multiple ng-model="sub_category_selected" ng-options="s.name for s in sub_category" data-placeholder="Loading sub-category" data-placeholder-text-multiple="'SELECT SUB-CATEGORY'">
												<option value="" disabled> SELECT SUB-CATEGORY</option>
						                    </select>
										</div>
										<div class="col-sm-12">
											 <a class=" pull-right pointer-class"> &nbsp;</a>
										</div>
									</div>
								</div>
							</div>
							<div class="rows padding-row">
								<div class="col-sm-6">
									<div class="col-sm-12">
										<strong> Merchant : </strong>
										<span class="glyphicon glyphicon-list-alt" ng-click="selectAllFilter('merchant');" title="select all"></span>
									</div>
									<div class="col-sm-12">
										<select chosen multiple ng-model="merchant_selected" ng-options="s.name for s in merchat_details track by s.id" id="merchant_selected" data-placeholder="Loading merchant" data-placeholder-text-multiple="'SELECT MERCHANT'">
											<option value="" disabled> SELECT MERCHANT</option>
										</select>
									</div>

									<div class="col-sm-12">
										 <a class=" pull-right pointer-class"> &nbsp;</a>
									</div>
								</div>
								<div class="col-sm-6">
									
								</div>
							</div>
							<div class="rows padding-row" >
								<div class="col-sm-12 padding-row">
									<button class="btn btn-primary" ng-click="getOfferDisplayView();">View details</button>
								</div>
								
							</div>
							<div class="rows padding-row" >
								<div class="col-sm-12 padding-row">
								</div>
								<div class="col-sm-12">
									<br>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close_filter">
                    Close
                </button>
            </div>
        </div>
    </div>
    <input type="hidden" name="dragable_id" id="dragable_id" value="">
</div>

<div class="modal fade" id="ShowPdfModel" tabindex="-1" role="dialog" aria-labelledby="offerHistory">
    <div class="modal-dialog" role="document" style="width:95%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title text-center" id="myModalLabel">
                   Download PDF For Offer Display View

                </h4>
                 <div class="modal-body">
                 	<button class="btn btn-link" ng-click="generatePDF()" class="btn btn-primary">
						<span class="glyphicon glyphicon-download-alt"></span>
						Download PDF
					</button>
					<div class="loader_angular col-md-1 profile-view-load" ng-show="show_loader_filter"></div>
                   <table class="table table-bordered offer-display-detail" id="tableToPdf">
	    			<thead class="btn-primary">
						<tr>
							<th ng-click="sort('merchantName')">Merchant  
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'merchantName'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-merchantName'"></span>
							</th>
							<th ng-click="sort('Offer_rule_en')">Offer 
								<span class="glyphicon glyphicon-menu-down" ng-if="sortBy == 'Offer_rule_en'"></span>
								<span class="glyphicon glyphicon-menu-up" ng-if="sortBy == '-Offer_rule_en'"></span>
							</th>
							<th>Offer Id</th>
							<th>Category</th>
							<th>Sub Category</th>
							
							<th>Benefit</th>
							<th>Offer Location</th>
							<th>Post Code</th>
						</tr>
					</thead>
					<tbody >
    					<tr  ng-repeat="history in details_response | orderBy:sortBy:reverse | filter:search">
    						<td ng-bind="history.merchantName"></td>
    						<td ng-bind="history.Offer_rule_en"></td>
    						<td ng-bind="history.OfferId"></td>
    						<td ng-bind="history.CategoryDesc"></td>
    						<td ng-bind="history.subCategoryDesc"></td>
    						
    						<td ng-bind="history.benefit_name_en"></td>
    						<td ng-bind="history.offer_address_en"></td>
    						<td ng-bind="history.postal_code"></td>
    					</tr>
    				</tbody>
				</table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="close_pdf_model">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<style>
    body{
        overflow-x: hidden;
    }
.loader_angular {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 27px;
    z-index: 99;
    background: url("img/loader.gif") center no-repeat;
    background-size: 70%;
}
    
 .overlay{
  position:absolute; 
  top:260px;
  width: 610px;
  height:287px;
  z-index: 10;
  background-color: rgba(255,255,255,0.7); /*dim the background*/
}
</style>